ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 30%
}
li a{
	background-color: lightpink;
	color: darkgoldenrod;
	display: block;
	padding: 16px;
	text-decoration: none;
}
li a:hover{
	background-color: hotpink;
	color: white;
}
li .activo{
	background-color: palegoldenrod;
	color: palevioletred;
}
